<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="' Spring Boot: MVC + Thymeleaf + Data JPA' + ${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>

    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark-color bg-dark" style="background-color: black !important">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color: white !important">Spring Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color: white !important">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/listar}" style="color: white !important">Clientes</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white !important">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="color: white !important" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" style="color: white !important">Action</a></li>
                                <li><a class="dropdown-item" href="#" style="color: white !important">Another action</a></li>
                                <li><a class="dropdown-item" href="#" style="color: white !important">Something else here</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

    </div>

    <footer th:fragment="footer" class="container">

        <!--<img th:src="@{/images/spring.svg}" alt="Spring Logo"/>-->
        <br>
        <p>
            by PabloAgustin-DEV's
        </p>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
    </footer>

</body>
</html>